{% extends 'base2.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Offre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre_offre</th>
                <th>Description_offre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.titreOffre }}</td>
                <td>{{ offre.descriptionOffre }}</td>
                <td>
                    <a href="{{ path('app_offreback_show', {'id': offre.id}) }}">show</a>
                    <a href="{{ path('app_offreback_edit', {'id': offre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offreback_new') }}">Create new</a>
{% endblock %}
