{% extends 'base.html.twig' %}

{% block body %}

<head>
    <link rel="stylesheet" href="{{ asset('css/articlelist.css') }}">
</head>

<body>
        {% for article in articles %}

    <div class="container">
        <div class="article-header">
            <h1> {{ article.titre }} </h1>
            <p class="article-meta">
                <i class="fas fa-clock"></i> 12:37 AM 
                <i class="fas fa-comments"></i>  {{ article.nombreCommentaire }} comments
            </p>
        </div>

        <div class="article-image-container">
            <img src="{{ asset('uploads/images/' ~ article.image) }}" class="article-image" alt="Article Image">
        </div>

        <p class="article-description">
            {{ article.description }}
        </p>

        <div class="article-footer">
            <p class="tags">
                <i class="fas fa-tags"></i> {{ article.tags }}
            </p>
            <p class="tags">
                <i class="bi bi-mouse-fill"></i> <a href="{{ path('articleDescription', {'id': article.id}) }}">Read More</a>
            </p>
        </div>
    </div>

    {% endfor %}


</body>
</html>
{% endblock %}
