{% extends 'base.html.twig' %}

{% block body %}
<head>
    <link rel="stylesheet" href="{{ asset('css/articledescription.css') }}">
</head>
<body>

<div class="container-xxl">
    <h1>{{ article.titre }}</h1>
    
    <div class="article-image-container">
        <img src="{{ asset('uploads/images/' ~ article.image) }}" class="article-image" alt="Article Image">
    </div>
    
    <p class="description">
        {{ article.description }}
    </p>

    <div class="divider"></div>

    {% for commentaire in commentaires %}
        <div class="comment" id="comment-{{ commentaire.id }}">
            <div class="comment-avatar">
                <img src="{{ asset('img/about-1.jpg') }}" alt="Avatar">
            </div>

            <div class="comment-content">
                <div class="comment-header">
                    <strong>{{ commentaire.user.nom }} {{ commentaire.user.prenom }}</strong>
                    <span class="comment-date">June 1, 2024 at 7:59 am</span>
                </div>

                <p class="comment-text" id="comment-text-{{ commentaire.id }}">{{ commentaire.content }}</p>

                {% if app.user and commentaire.user and commentaire.user.id == app.user.id %}
                    <div class="comment-actions">
                        <a href="#" class="comment-action edit-comment" data-id="{{ commentaire.id }}" data-content="{{ commentaire.content }}">Modifier</a>
                        <a href="#" class="comment-action delete-comment" data-id="{{ commentaire.id }}">Supprimer</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <p>Aucun commentaire pour le moment.</p>
    {% endfor %}

    <!-- Popup de modification -->
    <div id="editCommentPopup" class="popup">
        <div class="popup-content">
            <textarea id="editCommentContent" class="comment-textarea"></textarea>
            <div class="popup-buttons">
                <button id="cancelEdit" class="cancel-btn">Annuler</button>
                <button id="confirmEdit" class="confirm-btn">Modifier</button>
            </div>
        </div>
    </div>

    <br>
    <br>

    {% if app.user %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="mb-3">
                {{ form_label(form.content, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.content) }}
                <div class="text-danger small mt-1">
                    {{ form_errors(form.content) }}
                </div>
            </div>

            <div>
                {{ form_widget(form.submit) }}
            </div>
        {{ form_end(form) }}

    {% endif %}
</div>


<script src="{{ asset('js/commentaire.js') }}"></script>

</body>
</html>
{% endblock %}
